.Main{
    padding: 0 1rem;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
    height: 100vh;    
}

.HotelsContainer{
    display: flex;
    flex-direction: column;
}

.HotelCard{
    display: flex;
    flex-flow: column nowrap;
    height: 31.25vw;
    width: 100%;
    border: 2px solid grey;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #333333;
    color: rgba(255,255,255,1);
    font-size: 0.875rem;
    overflow: hidden;
}

.HotelCard:last-child{
    margin-bottom: 0.75rem;    
}

.HotelCard__Title{
    font-size: 1.125rem;
    font-weight: bold;
}

.HotelCard__Numbers{
    display: flex;
    justify-content: left;
}

.HotelCard__Country{
    display: flex;
}

.HotelCard__Description{
   display: none;
}

.HotelCard__Info{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-items: flex-end;
}

.HotelCard__Country{
    padding-top: 0.375rem;
}

.HotelCard__Flag{
    height: auto;
    width: 1rem;
}

.HotelCard__CountryName{
    padding-left: 0.25rem;
}

.HotelCard__Numbers{
    padding-top: 0.31rem;
}

.HotelCard__Price{
    padding-left: 0.375rem;
}

.HotelCard__Rooms{
    padding-right: 0.375rem;
}

.HotelCard__Button{
    -webkit-appearance: none;
    align-self: flex-end;
    width: 3.94rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: rgba(255,255,255,1);
    background: rgba(51, 51, 51, 0.7);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: -1rem;
    margin-right: -0.25rem;
    padding: 0.7% 0;
}

/* || Media Query Main--480 */
@media screen and (min-width: 480px) {
    .HotelCard{
        height: 25vw; 
    }

    .HotelCard__Title{
        font-size: 1.375rem;
    }

    .HotelCard__Button{
        width: 4.5rem;
        font-size: 0.875rem;
        margin-top: -1.5rem;
    }

}

/* || Media Query Main--600 */
@media screen and (min-width: 600px) {
    .HotelCard{
        padding: 1.375rem 1.625rem 1rem; 
    }

    .HotelCard__Title{
        font-size: 1.75rem;
    }

    .HotelCard__Flag{
        width: 1.187rem;
    }

    .HotelCard__CountryName{
        font-size: 1rem;
    }

    .HotelCard__Button{
        width: 5.5rem;
        font-size: 1rem;
        border: 2px solid #FFFFFF;
    }
}

/* || Media Query Main--840 */
@media screen and (min-width: 840px) {
    .Main{
        padding: 0 1rem;
    }

    .HotelsContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .HotelCard{
        height: 28vw;
        justify-content: flex-end;
    }

    .HotelCard__Info{
        flex: none;
    }

    .HotelCard__Flag{
        width: 1.31rem;
    }

    .HotelCard__CountryName{
        font-size: 1.12rem;
        padding-left: 0.5rem;
    }

    .HotelCard__Numbers{
        font-size: 1.12rem;
    }

    .HotelCard__Button{
        border: 2px solid #FFFFFF;
        padding: 1% 0;
        margin-top: -1.5rem;
        border-radius: 8px;
    }

}

/* || Media Query Main--1024 */
@media screen and (min-width: 1024px) {
    .Main{
        padding: 0 1.5rem;
    }
    
    .HotelsContainer{
        column-gap: 1rem;
    }

    .HotelCard{
        height: 27.44vw;
        margin-top: 1.5rem;
        padding: 2rem;
    }

    .HotelCard__Title{
        font-size: 2rem;
    }

    .HotelCard__Button{
        margin-top: -2rem;
    }
       
}

/* || Media Query Main--1200 */
@media screen and (min-width: 1200px) {
    .Main{
        padding: 0 1rem;
    }
    
    .HotelsContainer{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.2rem;
    }

    .HotelCard{
        height: 20.83vw;
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        margin-top: 1.2rem;
        font-size: 1rem;
    }

    .HotelCard__Title{
        font-size: 1.75rem;
    }

    .HotelCard__CountryName{
        font-size: 1rem;
    }

    .HotelCard__Flag{
        width: 1.19rem;
    }

    .HotelCard__Numbers{
        font-size: 1rem;
    }
}





