.Header{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 0.625rem 1rem;
}

.Title{
    font-family: var(--title-font);
    font-size: var(--main-title-font-sm);
}

.Filter__Countries{
     grid-area: countries;   
}

.Filter__DateFrom{
    grid-area: date-from;
}

.Filter__DateTo{
    grid-area: date-to;
}

.Filter__Sizes{
    grid-area: sizes;
}

.Filter__Prices{
    grid-area: prices;
}

.Filter__Clear{
    grid-area: clear;
    justify-self: flex-end;
    border: 1px solid #FFFFFF;
}

.Filter__Grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "countries countries"
    "date-from date-to"
    "prices sizes"
    ". clear";
    gap: 0.312rem;    
}

.Filter__Container{
    padding: 0.625rem;
    width: 100%;
    background-color: rgba(228, 228, 234, .8);
    border-radius: 0.375rem;
}

.Filter__Grid > * {
    height: 1.875rem;
}

.Filter__Icon{
    position: absolute;
    top: 1.125rem;
    right: 1rem;
    height: 1.5rem;
}

/* || Media Query Filter--600 */
@media screen and (min-width: 600px) {

    .Filter__Grid{
        grid-template-columns: 32% 32% 32%;
        grid-template-areas: 
        "countries date-from date-to"
        "prices sizes clear"; 
        column-gap:0.7rem;
        row-gap: 0.3rem;
    }
    
}

/* || Media Query Filter--1024 */
@media screen and (min-width: 1024px) {

    .Filter__Container{
        display: flex;
        background-color: transparent;
        justify-content: center;
    }
    
    .Filter__Grid{
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .Filter__Grid > * {
        height: 2.125rem;
        max-width: 15rem;
        flex:1;
    }

    .Filter__Clear{
        justify-self: center;
        max-width: 6.06rem;
        border: 1px solid #FFFFFF;
    }

    .Filter__Icon{
        display: none;
    }
    
}