@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    /* Colors */
    --main-bg-color: rgba(255, 255, 255, 1);
    --primary-btn-color: rgba(51, 51, 51, 0.88);;

    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Pacifico', cursive;

    /* Mobile font-sizes and line-heights (Mobile first approach) */
    font-size: 16px; /*Base-Reference font size*/
    --main-title-font-sm: 1.875rem;
    --main-title-font-md: 2.91rem;
    --main-title-font-lg: 4.5rem;
    --main-title-font-xl: 6rem;

    --filter-font-sm: 0.875rem;
    --filter-font-lg: 0.93rem;
    --filter-font-xl: 1.1rem;
} 

/* || General Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    //border: 0 none;
	//outline: 0;
}
